/*=============== BASE ===============*/
.section {
  font-size: 0.938rem;
  background-color: hsl(206, 4%, 6%);
  color: hsl(206, 4%, 75%);
  padding: 4rem 0 2rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section__title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.section__titleGradient {
  background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 600;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: hsl(206, 4%, 4%);
  color: #FFF;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: hsl(206, 4%, 8%);
}

.button__icon {
  font-size: 1.2rem;
}

.button__flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
}

/*=============== CASE ===============*/
.case__container {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}

.case__data {
  padding: 5rem 0 3rem;
}

.case__img {
  width: 270px;
  position: absolute;
  left: -40%;

}

.case__description {
  margin-bottom: 1.5rem;
  line-height: 2rem;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section__title {
    font-size: 2.5rem;
  }

  .case__container {
    grid-template-columns: 0.6fr 1fr;
  }

  .case__img {
    width: 220px;
    top: -2rem;
    left: -9rem;
  }

  .case__data {
    padding: 0;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .case__img {
    position: initial;
  }

  .case__data {
    padding: 0;
  }

  .case__container {
    grid-template-columns: max-content 250px;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 70px 0px;
  }

  .case__container {
    column-gap: 5rem;
  }

  .case__img {
    width: 300px;
  }

  .case__description {
    margin-bottom: 2rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}