/*=============== BASE ===============*/
.section {
  font-size: 0.938rem;
  background-color: hsl(206, 4%, 6%);
  color: hsl(206, 4%, 75%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.section__title-gradient {
  background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

/*=============== SPONSOR ===============*/
.sponsor__img {
  width: 90px;
}

.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  row-gap: 3rem;
  justify-items: center;
  align-items: center;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 70px 0px;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .sponsor__img {
    width: 100px;
  }
}

@media screen and (min-width: 968px) {
  .section__title {
    font-size: 4.5rem;
  }
}
