.section {
  font-size: 0.938rem;
  background-color: hsl(206, 4%, 6%);
  color: hsl(206, 4%, 75%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4rem 0 2rem;
}

.sectionTitle {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.sectionTitleGradient {
  background: linear-gradient(hsl(206, 4%, 24%), hsl(206, 4%, 8%));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: hsl(206, 4%, 4%);
  color: #fff;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: hsl(206, 4%, 8%);
}

.buttonIcon {
  font-size: 1.2rem;
}

.buttonFlex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
}

/*=============== LAYOUT ===============*/
.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

/*=============== DISCOUNT ===============*/
.discountContainer {
  position: relative;
  background-color: hsl(206, 4%, 10%);
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
}

.discountTitle {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.discountDescription {
  margin-bottom: 1rem;
}

.discountImg {
  position: relative;
  width: 300px;
  margin-inline: auto;
  margin-top: 3rem;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .sectionTitle {
    font-size: 2.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .discountImg {
    position: initial;
  }
  .discountContainer {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}

@media screen and (min-width: 767px) {
  .section {
    padding: 70px 0px;
  }
  .discountContainer {
    grid-template-columns: 250px max-content;
    justify-content: center;
    column-gap: 5rem;
    padding: 3rem 0;
  }
  .discountTitle {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .discountDescription {
    margin-bottom: 2rem;
  }

  .discountImg {
    margin: 0;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .discountImg {
    width: 350px;
  }
}
